body {
    font-family: Arial, Helvetica, sans-serif
}



.titre {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    width: 350px;
    padding: 1px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation : appeartitre 1s both;
}

.titre {
    animation-delay: 0.5s;
}

@keyframes appeartitre {
    0% {
        top: 60%;
        opacity: 0;
    }
    100% {
        top: 39%;
        opacity: 1;
    }
}



.soustitre {
    color: rgb(255, 255, 255);
    font-size: 13px; 
    width: 350px;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 35%;
    left: 55%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: appearsoustitre 1s both;
}

.soustitre {
    animation-delay: 1s;
}

@keyframes appearsoustitre {
    0% {
        top: 60%;
        opacity: 0;
    }
    100% {
        top: 43%;
        opacity: 1;
    }
}




.idea {
    color: rgb(0, 0, 0);
    width: 400px;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.idea1 {
    color: rgb(0, 0, 0);
    width: 650px;
    padding: 1px;
    position: absolute;
    top: 125%;
    font-family: Arial, Helvetica, sans-serif;
    left: 50%;
    transform: translate(-50%, -50%);
}


.idea2 {
    color: rgb(0, 0, 0);
    width: 530px;
    padding: 1px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.conteneur {
    position: relative;
    width: 1400px;
    height: 1300px;
}

.img {
    background-color: rgb(235, 235, 235);
    position: absolute;
    width: 1840px;
    top: 500px; 
    font-family: Arial, Helvetica, sans-serif;
}

.div1 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    width: 540px;
    position: absolute;
    top: 168%;
    left: 51%;
    transform: translate(-50%, -50%);
}

.div2 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    width: 540px;
    position: absolute;
    top: 173%;
    left: 54%;
    transform: translate(-50%, -50%);
}


.div3 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    width: 540px;
    position: absolute;
    top: 270%;
    left: 58%;
    transform: translate(-50%, -50%);
}


.phone {
    position: relative;
    width: 1400px;
    height: 1300px;
}

.img2 {
    background-color: rgb(235, 235, 235);
    position: absolute;
    width: 700px;
    top: 500px; 
    left: 570;
    font-family: Arial, Helvetica, sans-serif;
}


.div4 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    width: 540px;
    position: absolute;
    top: 331%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.div5 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    width: 540px;
    position: absolute;
    top: 336%;
    left: 54%;
    transform: translate(-50%, -50%);
}